
nav{background-color: aqua;}

.casa{float: center;
    width: 100%;}

.carl{float: left;
    width:50% ;
    margin-right:10%;
margin-top: 2%; ;}

.carlF{margin-top: 20%;
      margin-left: 10%;text-align: right}

.russell{float: right;
    width:40% ;
    margin-top: 20%;}

.russelle{margin-top:  6%;
margin-right: 27%;}


.esquerda{margin-left: 40%;
    margin-top: 10%;
     }

.direita{margin-bottom: 7%;
            margin-left: 10%;}

.personagem{text-align: center;
margin-bottom: 13%; 
margin-right: 0%;}


h1{margin-bottom: 15%;
    margin-top: 5%;
    text-align: center;
    font-size:270%;
    font-family: montserra;}

h2{font-size: 200%;}

p{font-size: 100%;}
.menu{text-align: center;}
section{margin: 5%;}
p{margin: 3%;
    margin-left: 10%;
    margin-right: 7%;
}

li{display: inline;margin: 4%;}
