.menu{text-align: center;
    margin-bottom: 4%;
margin-top: 5%;}

    header{
        background-color: rgb(133, 196, 255);
    margin-bottom: 5%;}

li{display: inline;}

a{
    ;
}

button{
    
 }
button {
    
    margin-right: 1%; 
    border: 0;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color:  rgb(213, 235, 255);
    width: 18%;
    height: 5%;
    font-size: 120%;
    cursor: pointer
    
}


body{background-image: url(../img/nuvem.jpg);
    background-repeat: repeat-x;
    background-size: 173%;

    }

    table{
        margin-bottom: 10%;
        width: 70%;
        margin-left: 10%;
    }

td{
    font-size: 170%;
    text-align: center;
}


table,td,th{
    border:double rgb(0, 95, 158);
    background-color: rgba(209, 228, 245, 0.37);
}




footer{
  padding: 2%;
   background-color: #d68e3ce7;
   text-align: center;
   font-size: 140%;

}

.titulos{
    font-size: 200%;
    border: black;
}

.titulos1{
    background-color: #baf1fce8;
    font-size: 200%;
    border: black;
}

.logo{
    margin-left: 35%;
    width:25%;
}

.rodape{
    font-size: 110%;
    text-align: center;
}