

body{
    background-color: #a9d3ff;
}


.containere{
    display: flex;
    justify-content:flex-start ;
    position: static;
    margin-bottom: 4%;
    background-color: rgb(222, 247, 255)

}

.containerd{
 
    display: flex;
    justify-content: flex-end;
    position: static;
    margin-bottom: 5%;
    ;
   
}
.conteudote,.conteudotd{
    margin: 6%;
}
.carl,.russell,.kevin,.dogs,.ellie,.dug,.charles{
    margin: 1%;
    
}


li{display: inline;}

button{
    margin-right: 1%; 
    border: 0;
   
    margin-bottom: 3%;
    background-color:  rgb(213, 235, 255);
    width: 18%;
    
    font-size: 120%;
    cursor: pointer
}

.menu{
    
    text-align: center;
    margin-top: 5%;
  
    
}




nav{
    width: 110%;
    
}





/*fonts*/


.conteudote,.conteudotd{
    font-size: 170%;
}




.titulo{
    font-size:  200%;
    text-align: center;
    margin-bottom: 5%;
     ;
}

.titulo1{
    font-size: 300%;
    text-align: center;
    margin: 5%;
}


.tituloe{
    background-color:rgb(222, 247, 255) ;
    font-size:  200%;
    text-align: center;
    
    padding-bottom: 2%
     ;
}

footer{
   
    background-color: rgb(79, 125, 177);
}

.logo{
    margin-left: 35%;
    width: 25%;
}