
body{
    background-color: #1672c7c5;
}




.personagem{text-align: center;
margin-bottom: 13%; 
margin-right: 0%;}


h1{
    margin-top: 5%;
   margin-bottom: 5%; 
    text-align: center;
    font-size:270%;
    font-family: montserra;
    color: black;    
}

h2{font-size: 200%;}

p{font-size: 100%;
   
    margin-left: 10%;
    margin-right: 7%;
}



.menu{text-align: center;
    
  
}
header{
  background-color: rgb(133, 196, 255);

    
}


li{display: inline;
  
}


 

 button{
    margin-right: 1%; 
    border: 0;
    margin-top: 10%;
    margin-bottom: 3%;
    background-color:  rgb(213, 235, 255);
    width: 18%;
    height: 5%;
    font-size: 120%;
    cursor: pointer
    }


.sobre {
    width: 100%;
    margin: auto;
    position: relative;
    color:white;
    align-content: flex-end;
    text-align: left;
    
}



.balao{
    width: 100%;
    position: relative;
    
}
.esquerda{
    position: absolute;
    align-content: flex-start;
    flex-direction: row;
    text-align: left;
    width: 38%;
    height: 5%;
    top: 2%;
    left: 2%;
    font-size: 136%;
    margin-top: 9%;
    max-width: 70%;
    
    
    
}


.imgp{
    width: 40%;
}




 


.esquerdab{
  display: flex;
  width: 50%;
  font-size: 145%;
  
  
}



.pixar{
    display: flex;
    ;
    text-align: left;
    color: black;
    font-size: 150%;
    margin: 3%;
    width: 80%;

}


footer{
    background-color:  rgb(133, 196, 255);;
    padding: 2%;
    font-size: 140%;
  margin-top: 2%;
 
}


.logo{
    margin-left: 35%;
    width: 25%;
}

.rodape{
    font-size: 110%;
    text-align: center;
}


