
body{
    background-color:   rgb(73, 149, 235);
    height: fit-content;
   
  
}

main{
    background-color: rgb(73, 149, 235);
    height: fit-content;
    
    margin-top: 0%;
    width: 100%;
   


}

.container{
    width: 100%;
}

nav{
height:  fit-content;
;

}

.logo{
    width: 30%;
    margin-left: 35%
}

.persona{
    font-size: 120%;
    margin: 3%;
    width: 90%;
     margin-bottom: 16%;
    display: flex;
    flex-direction: row;
    border: 1px;
    
}
   
.persona2{
    width:90%;
    font-size: 130%;
    margin-bottom: 30%;
    margin-left: 2%;
    height: fit-content;
    background-color:rgb(73, 149, 235) ;
}

.titulo2{
    font-size: 170%;
}
.sobres{
    width: 100%;
   
}

.container{

    width: 100%;
    height: fit-content;
    padding: 2%;
   
    
    
}

.imgt{
    width: 25%;
    
}


    
a{
    text-decoration: none;
}

img{
    width: 100%;
   
  
}
.logo{
    margin-bottom: 4%;
}

.quad{
    width: 66%;
}

h1{
    font-size: 600%;
    text-align: center
    ;
 ;margin-bottom: 6%;
 margin-top: 6%;
}

.h1t{
    font-size: 660%;
}

button,ul,li,a{
    display: flex;

    text-align: center
}

.hh2{
    font-size: 100%;
    text-align: center;
    
    margin-top: 5%;
    
}
p{
    font-size: 550%;
    float: left;
  
    margin-left: 2%;
    margin: 5%;
}


.pt{
    
    font-size: 130%;
    margin-left: 4%;
    margin-top: 3%;
    
}
button,.botao{
    border: none;
    width:fit-content;
    height: 100%;
    margin-bottom: 3%;
    font-size: 90%;
   background-color: rgba(179, 252, 255, 0);

    color: #1b98ff;
    ;
   }
  

.centro{
    width: 100%;
    height: 30%;
}
  




header{
    background-color: rgba(179, 252, 255, 0.678);
    
    height: fit-content;
}

footer{
    text-align: center;

    height: fit-content;
    background-color: #155c96f6;

    height: 20%;
    font-size: 10%;


    

   
    font-size: 150%;
}




.sobre{
    width: 100%;
    height: 100%;
    font-size: 150%;

    
    ;
}
.pixart{
    font-size: 150%;
}

.sobre1{
    width:100% ;
    display: flex;
    
   ;
}

.titulos{
    margin-top: 10%;
    font-size: 150%;
}

.intro{
    float: left;
    width: 100%; 
    top: 20%;
    height: 50%;
    font-size: 110%;
    background-color: rgb(73, 149, 235);
    margin-bottom: 5%;
    
    ;
    
}

.data{
    background-image: linear-gradient(rgba(129, 179, 236, 0.918),rgb(64, 146, 240));
    font-size: 150%;
}


.gen{background-image: linear-gradient(rgba(69, 122, 182, 0.801),rgb(73, 149, 235));
    font-size: 150%;
    

}


.imgc{
    width: 35%;
    height: auto;
    margin-right: 5%;
}

.text{
    width: 50%;
    font-size: 240%;
    margin-left: 20%;
}

.titulo{
    font-size: 300%;
}



table,td,th{
    margin: 2%;
    border: 100% solid;
    border-color: black;
   
}

td{font-size: 130%;
    margin: 2%;
    text-align: center; 
   

}
.tabela{
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
    margin-top: 9%;
}

.imgt{
    width: 50%;
    height: 40;
    margin-left: 5%;
}

.botao{
    margin-left: 15%;
    text-align: center;
}


@media(max-width:1550px){
button,ul,li{
    display: flex;
    flex-direction: column;
 
    font-size:100% ;
    text-wrap: wrap;
   width: 45%;
}
body{
    
    width: 100%;
    height: fit-content;
}

footer{
    height: 10%;
    font-size: 100%;
}
html{
    width: fit-content;
}
h1{
    font-size:  300%;


}
.persona2{
    font-size: 70%;
}
tr,th,td,{
    font-size: 100%;
    padding: 5%;

    

}


li{
    font-size: 85%;
    margin-bottom: 3%;
}
.pt{
    font-size: 120%;
}
    

   
.titulo{
    font-size: 180%;
}

.titulos1{
margin-bottom: 6%;

}
td{
    margin-right: 30%
}

.tabela{
    width: 100%;
    border: 67%;
    margin-top: 45%;
}

.imgt{
    width: 50%;
    height: 30%;

}
.text{
    font-size: 120%;
}

.imgc{
    width:45%;
    margin-right: 5%;
}

.centro{
   margin-left: 25%;
}

}



table{
    margin: 2%;
   ;
}


.foto{
   
    left: 0%;
    width: 100%;
    top: 10%;
    ;
    font-size: 120%
    ;
    color: aliceblue;
}

h1{
    bottom: 10%;
}

