h1 {font-family:Georgia, 'Times New Roman', Times, serif;text-align: center;color: black;}
h2{font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;color: black ;background-color:  #cae9ff;}
h3{color:#1b4965 ;}
table{; color: white;background-color: #62b6cb;}
ul{color: antiquewhite; text-align: left;font-family:lucida ;}
